---
title: Home
---

<div class="container">

  <h1>Static Boosted</h1>

  <h3>Middleman Bootstrap boilerplate</h3>

  <h4>Tests</h4>
  <ul>
    <li>Middleman: <%= lorem.words(3) %></li>
    <li>Bootstrap: <span class="label label-default">label</span></li>
    <li>AngularJS: 2 + 2 = {{2+2}}</li>
  </ul>

  <h4>Links</h4>
  <ul>
    <li><%= link_to 'Middleman', 'http://middlemanapp.com/' %></li>
    <li><%= link_to 'Bootstrap', 'http://www.getbootstrap.com/' %></li>
    <li><%= link_to 'AngularJS', 'http://www.angularjs.org/' %></li>
  </ul>

  <p><a href="https://github.com/manumorante/static-boosted" class="btn btn-primary" role="button" target="_blank"><i class="fa fa-github"></i>
    View on GitHub</a></p>

</div>