---
title: Home
---

<div class="container">

  <h1>Static Boosted</h1>

  <h3>Middleman Bootstrap boilerplate</h3>

  <h4>Tests & Versions</h4>
  <ul>
    <li><%= link_to 'Bootstrap', 'http://www.getbootstrap.com/' %> `v3.3.5`: <span class="label label-default">label</span></li>
    <li><%= link_to 'Middleman', 'http://middlemanapp.com/' %> `v3.4.0`: <%= lorem.words(3) %></li>
    <li><%= link_to 'AngularJS', 'http://www.angularjs.org/' %> `v1.2.26`: 2 + 2 = {{2+2}}</li>
    <li>HTML 5 Boilerplate `v5.2.0`</li>
  </ul>

  <p><a href="https://github.com/manumorante/static-boosted" class="btn btn-primary" role="button" target="_blank"><i class="fa fa-github"></i>
    View on GitHub</a></p>

</div>